.container {
    width: 75%;
    margin: 1em 4em;
    padding: 1em 4em;
}

.h1 {
    margin: 8px;
}

.h4 {
    margin: 1em;
    border-bottom-style: solid;
    padding-bottom: 2%;
    border-bottom-width: 7px;
    border-bottom-color: cornflowerblue;
}
button#leggo {
    width: 8em;
    margin: 2%;
}

.container-dash {
    width: 40%;
    margin: 1%;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
    margin: 2em 0;
}
.btn {
    border: 1px solid dodgerblue;
}

span.badge.badge-wrong.badge-pill {
    color: black;
    background-color: palevioletred;
}

span.badge.badge-correct.badge-pill {
    color: black;
    background-color: palegreen;
}

span.badge.badge-score.badge-pill {
    color: black;
    background-color: lightskyblue;
}

.hide {
    display: none;
}